
{% extends 'admin/layout.html' %}

{% block pagecontent %}
                <div class="col-lg-10" id="cardswrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row py-3 px-3">
                                <div class="col-lg px-3 py-3">
                                    <div class="card" style="width:100%">
                                        <div class="card-body">
                                          <h5 class="card-title">Tour Packages</h5>
                                          <p class="card-text"><p>
                                        </div>
                                      </div>
                                </div>

                                <div class="col-lg px-3 py-3">
                                    <div class="card" style="width:100%">
                                        <div class="card-body">
                                          <h5 class="card-title">Add Tour Package</h5>
                                          <p class="card-text"><p>
                                        </div>
                                      </div>
                                </div>

                                <div class="col-lg px-3 py-3">
                                    <div class="card" style="width:100%;">
                                        <div class="card-body">
                                          <h5 class="card-title">Modify Tour Package</h5>
                                          <p class="card-text"></p>
                                        </div>
                                      </div>
                                </div>
                               
                                <div class="col-lg px-3 py-3">
                                    <div class="card" style="width:100%;">
                                        <div class="card-body">
                                          <h5 class="card-title">Delete Tour Pacakage</h5>
                                          <p class="card-text"></p>
                                        </div>
                                      </div>
                                </div>


                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="row py-3 px-3">
                                <form method="post" action="" enctype="multipart/form-data">
                                    <div class="col-12 mb-3 form-floating">
                                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
                                        <input type="text" class="form-control" id="floatingInput" placeholder="Tour Package name" name="tourname">
                                        <label for="floatingInput">Tour Package name</label>
                                    </div>
                                    <div class="col-12 mb-3 form-floating">
                                        <input type="number" class="form-control" id="floatingInput" placeholder="Price single" name="price_share">
                                        <label for="floatingInput">Price per sharing</label>
                                    </div>
                                    <div class="col-12 mb-3 form-floating">
                                        <input type="number" class="form-control" id="floatingInput" placeholder="Price single" name="price_single">
                                        <label for="floatingInput">Price per single</label>
                                    </div>
                                    <div class="col-12 mb-3 form-floating">
                                        <textarea class="form-control" placeholder="Comment" id="floatingTextarea2" style="height: 100px" name="tourdesc"></textarea>
                                        <label for="floatingTextarea2">Tour Description</label>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label for="formFile" class="form-label">Tour Package flyer</label>
                                        <input class="form-control" type="file" id="formFile" name="tourimage" multiple/>
                                    </div>
                                    <div class="col-12 mb-3 form-floating">
                                        <input type="date" class="form-control" id="floatingInput" placeholder="" name="departuredate">
                                        <label for="floatingInput">Depature travel date</label>
                                    </div>
                                    <div class="col-12 mb-3 form-floating">
                                        <input type="date" class="form-control" id="floatingInput" placeholder="" name="returndate">
                                        <label for="floatingInput">Return travel date</label>
                                    </div>
                                    <div class="col-12 mb-3 form-floating">
                                        <input type="number" class="form-control" id="floatingInput" placeholder="" name="slot">
                                        <label for="floatingInput">Available Slot</label>
                                    </div>
                                    <div class="col-lg mb-3 form-floating">   
                                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="destination" required>
                                        <option selected>Select Destination</option>
                                        {% for i in destdeets %}
                                        <option value='{{ i.destination_id }}' >{{ i.destination_location }}</option>
                                        {% endfor %}
                                        </select>
                                        <label for="floatingSelect">Destination</label>   
                                    </div>
                                    <div class="col-12 mb-3">
                                       <div class="row">
                                           {% for i in inclusions %}
                                           <div class="col-lg-4">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="{{ i.inclusive_id }}" id="flexCheckDefault" name="inclusive">
                                                    <label class="form-check-label" for="flexCheckDefault">{{ i.inclusive_name }}</label>
                                                </div>
                                           </div>
                                           {% endfor %}  
                                       </div>

                                    </div>
                                    <div class="d-grid gap-2 col-6 mx-auto py-2">
                                        <button class="btn btn-primary" type="submit">Submit</button>
                                    </div>  
                                </form>
                            </div>
                        </div>

                        
                        <div class="col-lg-12">
                            <div class="row py-3">
                                <div class="col-lg-12 px-3 py-3"></div>
                                <div class="col-lg-12 px-3 py-3"></div>
                            </div>
                        </div>

                    </div>

                </div>
                </div>
            </div>

            <!-- Flash alerts -->                
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                {% for category, message in messages %}
                <!-- <li class="{{ category }}">{{ message }}</li> -->
                
                <script type="text/javascript">
                    swal({
                            title: "{{message}}",
                            text: "",
                            icon: "{{category}}",
                            button: "Close",
                            closeOnClickOutside: false,
                            });
                </script>
        
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
        </section>

{% endblock pagecontent %}