
{% extends 'admin/layout.html' %}

{% block pagecontent %}
                <div class="col-lg-10" id="cardswrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row py-3 px-3">
                                <div class="col-lg px-3 py-3">
                                    <div class="card" style="width:100%">
                                        <div class="card-body">
                                          <h5 class="card-title">Customer Requests</h5>
                                          <p class="card-text"><p>
                                        </div>
                                      </div>
                                </div>

                                <div class="col-lg px-3 py-3">
                                    <div class="card" style="width:100%;">
                                        <div class="card-body">
                                          <h5 class="card-title">Tour Packages</h5>
                                          <p class="card-text"></p>
                                        </div>
                                      </div>
                                </div>
                               
                                <div class="col-lg px-3 py-3">
                                    <div class="card" style="width:100%;">
                                        <div class="card-body">
                                          <h5 class="card-title">Tour Bookings</h5>
                                          <p class="card-text"></p>
                                        </div>
                                      </div>
                                </div>

                                <div class="col-lg px-3 py-3">
                                    <div class="card" style="width:100%;">
                                        <div class="card-body">
                                          <h5 class="card-title">Visa procurement</h5>
                                          <p class="card-text"><p>
                                        </div>
                                      </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="row py-0 px-3">
                                <div class="col-lg px-3 py-3">
                                    <div class="card" style="width:100%">
                                        <div class="card-body">
                                          <h5 class="card-title">Payments</h5>
                                          <p class="card-text"></p>
                                        </div>
                                      </div>
                                </div>

                                <div class="col-lg px-3 py-3">
                                    <div class="card" style="width:100%;">
                                        <div class="card-body">
                                          <h5 class="card-title">Customers</h5>
                                          <p class="card-text"></p>
                                        </div>
                                      </div>
                                </div>
                               
                                <div class="col-lg px-3 py-3">
                                    <div class="card" style="width:100%;">
                                        <div class="card-body">
                                          <h5 class="card-title">Products</h5>
                                          <p class="card-text"></p>
                                        </div>
                                      </div>
                                </div>

                                <div class="col-lg px-3 py-3">
                                    <div class="card" style="width:100%;">
                                        <div class="card-body">
                                          <h5 class="card-title">Mails & Inquiries</h5>
                                          <p class="card-text"></p>
                                        </div>
                                      </div>
                                </div>

                            </div>
                        </div>

                        
                        <div class="col-lg-12">
                            <div class="row py-3">
                                <div class="col-lg-12 px-3 py-3"></div>
                                <div class="col-lg-12 px-3 py-3"></div>
                            </div>
                        </div>

                    </div>

                </div>
                </div>
            </div>
        </section>

{% endblock pagecontent %}