
{% extends 'admin/layout.html' %}

{% block pagecontent %}
                <div class="col-lg-10" id="cardswrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row py-3 px-3">
                                <div class="col-lg px-3 py-3">
                                    <div class="card" style="width:100%">
                                        <div class="card-body">
                                          <h5 class="card-title">Tour Packages</h5>
                                          <p class="card-text"><p>
                                        </div>
                                      </div>
                                </div>

                                <div class="col-lg px-3 py-3">
                                    <div class="card" style="width:100%">
                                        <div class="card-body">
                                          <h5 class="card-title">Add Tour Package</h5>
                                          <p class="card-text"><p>
                                        </div>
                                      </div>
                                </div>

                                <div class="col-lg px-3 py-3">
                                    <div class="card" style="width:100%;">
                                        <div class="card-body">
                                          <h5 class="card-title">Modify Tour Package</h5>
                                          <p class="card-text"></p>
                                        </div>
                                      </div>
                                </div>
                               
                                <div class="col-lg px-3 py-3">
                                    <div class="card" style="width:100%;">
                                        <div class="card-body">
                                          <h5 class="card-title">Delete Tour Pacakage</h5>
                                          <p class="card-text"></p>
                                        </div>
                                      </div>
                                </div>


                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div style="overflow-x:auto;">
                              <table class="table table-dark table-striped">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Payment id</th>
                                    <th scope="col">Payment Date</th>
                                    <th scope="col">payment Amount</th>
                                    <th scope="col">Payment Status</th>
                                    <th scope="col">payment Method</th>
                                    <th scope="col">Payment References</th>
                                    <th scope="col">Payment Currency</th>
                                    <th scope="col">Tourpackage Id</th>
                                    <th scope="col">Tourbooking Id</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for i in tourpaydeets %}
                                  <tr>
                                    <th scope="row">{{ loop.index }}</th>
                                    <td>{{ i.tourpackage_payment_id }}</td>
                                    <td>{{ i.tourpackage_payment_date }}</td>
                                    <td>{{"₦{:,.2f}".format(i.tourpackage_payment_amount) }}</td>
                                    <td>{{ i.tourpackage_payment_status }}</td>
                                    <td>{{ i.tourpackage_payment_method }}</td>
                                    <td>{{ i.tourpackage_payment_ref }}</td>
                                    <td>{{ i.tourpackage_payment_currency }}</td>
                                    <td>{{ i.fk_tourpackage_payment_tourpackage_id }}</td>
                                    <td>{{ i.fk_tourpackage_payment_tourbooking_id }}</td>
                                  </tr>
                                    {% endfor %}
                                </tbody>
                              </table>
                            </div>
                        </div>

                        
                        <div class="col-lg-12">
                            <div class="row py-3">
                                <div class="col-lg-12 px-3 py-3"></div>
                                <div class="col-lg-12 px-3 py-3"></div>
                            </div>
                        </div>

                    </div>

                </div>
                </div>
            </div>
        </section>

{% endblock pagecontent %}