{% extends 'user/layout.html' %}

{% block pagecontent %}

         <!-- Image element - background image for the section in the line below -->
    <header class="container-fluid">
            <div class="row px-0" style="border:1px solid green; overflow: hidden; position: relative;">
                <div class="col-md bg-image-full-tour px-0">
                    <div style="height: 150px; background-color: rgba(46, 46, 54, 0.7);color:white; width: 100%;" class="px-0">
                        <h2 class="pt-5" align="center"><strong>About Us</strong></h2>
                    </div>
                </div>
            </div>
    </header>

    <section class="container-fluid">
        <div class="row mx-sm-5">      
            <h2 class="pt-5" align="center">Who we are</h2>
                <p>Who we are....</p>
        </div>

        <div class="row mx-sm-5">      
            <h2 class="pt-5" align="center">Our Mission</h2>
                <p>Our Mission....</p>
        </div>

        <div class="row mx-sm-5">      
            <h2 class="pt-5" align="center">Our Target Market</h2>
                <p>Our Target Market....</p>
        </div>
          
    </section>

    <section class="container-fluid">
        <div class="row mx-sm-5">
            <div class="row mx-sm-5">
                <h2 class="py-5" align="center">Meet the Team</h2>
                <div class="col-lg-3 col-sm-6 mb-3 images-overlay px-0 mx-3">
                    <img src="media/AfrocentricLogo1.png" alt="Avatar" class="image-fluid">
                    <div class="team-overlay">Ajayi Olalekan Co-Founder & C.E.O
                        Business Research & Conceptualization
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-3 images-overlay px-0 mx-3">
                    <img src="media/StudyCanada.jpg" alt="Avatar" class="image-fluid">
                    <div class="team-overlay">Ajayi Olalekan Co-Founder & C.E.O
                        Business Research & Conceptualization
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-3 images-overlay px-0 mx-3">
                    <img src="media/StudyCanada.jpg" alt="Avatar" class="image-fluid">
                    <div class="team-overlay">Ajayi Olalekan Co-Founder & C.E.O
                        Business Research & Conceptualization
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid">
        <div class="row px-sm-5 py-5" > 
            <h2 class="pt-5" align="center">Our Services</h2> 
            <p>Our services writeup........</p>   
            <div class="col-lg-2">
                <div class="ourservices"><i class="fa-solid fa-passport fa-3x"></i></div>
                <div class="my-3"><p align="center">Visa Assistance</p></div>
            </div>
            <div class="col-lg-2">
                <div class="ourservices"><i class="fa-solid fa-passport fa-3x"></i></div>
                <div class="my-3"><p align="center">Visa Assistance</p></div>
            </div>
            <div class="col-lg-2">
                <div class="ourservices"><i class="fa-solid fa-passport fa-3x"></i></div>
                <div class="my-3"><p align="center">Visa Assistance</p></div>
            </div>
            <div class="col-lg-2">
                <div class="ourservices"><i class="fa-solid fa-passport fa-3x"></i></div>
                <div class="my-3"><p align="center">Visa Assistance</p></div>
            </div>            
            <div class="col-lg-2">
                <div class="ourservices"><i class="fa-solid fa-passport fa-3x"></i></div>
                <div class="my-3"><p align="center">Visa Assistance</p></div>
            </div>
            <div class="col-lg-2">
                <div class="ourservices"><i class="fa-solid fa-passport fa-3x"></i></div>
                <div class="my-3"><p align="center">Visa Assistance</p></div>
            </div>

         </div> 
    </section>   
        
{% endblock pagecontent %}