{% extends 'user/layout.html' %}

{% block pagecontent %}

         <!-- Image element - background image for the section in the line below -->
    <header class="container-fluid">
            <div class="row px-0" style="border:1px solid green; overflow: hidden; position: relative;">
                <div class="col-md bg-image-full-tour px-0">
                    <div style="height: 150px; background-color: rgba(46, 46, 54, 0.7);color:white; width: 100%;" class="px-0">
                        <h2 class="pt-5" align="center"><strong>Payment Successful</strong></h2>
                    </div>
                </div>
            </div>
    </header>

    <section class="container-fluid">
        <div class="row mx-lg-5 py-2 text-center ">
            
                <div class="col-12 mb-3">
                    <p><strong>Email Address</strong>: {{update.tourbooking_customer_email}} </p>
                </div>
                <div class="col-12 mb-3">
                    <p><strong>Status:</strong> {{update.tourbooking_status}} </p>
                </div>
                <div class="col-12 mb-3">
                    <p><strong>First Name:</strong> {{update.tourbooking_fname}} </p>
                </div>
                <div class="col-12 mb-3">
                    <p><strong>Last Name:</strong> {{update.tourbooking_lname}} </p>
                </div>
                <div class="col-12 mb-3">
                    <p><strong>Payment Reference:</strong> {{reference}} </p>
                </div>
                <div class="col-12 mb-3">
                    <p><strong>Amount Paid:</strong> {{"₦{:,.2f}".format(payment.tourpackage_payment_amount)}} </p>
                </div>
        </div>
        
    </section>   

    
    
{% endblock pagecontent %}