{% extends 'user/layout.html' %}

{% block pagecontent %}

         <!-- Image element - background image for the section in the line below -->
    <header class="container-fluid">
            <div class="row px-0" style="border:1px solid green; overflow: hidden; position: relative;">
                <div class="col-md bg-image-full-tour px-0">
                    <div style="height: 150px; background-color: rgba(46, 46, 54, 0.7);color:white; width: 100%;" class="px-0">
                        <h2 class="pt-5" align="center"><strong>Tour Packages</strong></h2>
                    </div>
                </div>
            </div>
    </header>

    <section class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-lg-12 mb-0">
            <h2 class="pt-5" align="center"><strong>Book Your Tour Package With Us!</strong></h2>
        </div>
        <div class="col-lg-3 pt-5 px-4 mb-3" style="border:0px solid black;">
          <!--Search Bar-->
          
            <form action="/search/tourpackage" method="POST" id="search">
                <input type="hidden" value="{{csrf_token()}}" name="csrf_token">
                <input class="form-control mb-2" type="search" placeholder="Search Tour Package" aria-label="Search" name="search">
                <button class="btn form-control" type="submit">Search Tour Package</button>
            </form>
          
          <h6 class="mt-4 mb-2"><strong>Search With Categories</strong></h6>
          <!--Accordion-->
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      Accomodation Type
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" value="single" id="inlineRadio1">
                        <label class="form-check-label" for="inlineRadio1">Single Stay</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" value="shared" id="inlineRadio2">
                        <label class="form-check-label" for="inlineRadio2">Shared Stay</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      Destinations
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <div class="col-lg-12">
                           <div class="form-floating">
                            <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="country">
                              <option selected>Select Destination</option>
                              {% for i in destdeets %}
                              <option value='{{i.destination_id}}' >{{i.destination_location}}</option>
                              {% endfor %}
                              </select>
                              <label for="floatingSelect">Country</label>
                           </div>
                      </div>
                      </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      Tour Inclusions
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <div class="row">
                        {% for i in inclusions %}
                        <div class="col-lg-12">
                             <div class="form-check">
                                 <input class="form-check-input" type="checkbox" value="{{ i.inclusive_id }}" id="flexCheckDefault" name="inclusive">
                                 <label class="form-check-label" for="flexCheckDefault">{{ i.inclusive_name }}</label>
                             </div>
                        </div>
                        {% endfor %}  
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              
        </div>
        <div class="col-lg-8" style="border:0px solid black;">
            <div class="row my-5 mx-3">

                {% if searchdeets %}
                {% for i in searchdeets %}

                <div class="col-lg-12 mx-0 px-2 mb-3" id="tourpckdiv" style="border:0px solid red; border-radius:5px; background-color: #eee;">
                  <div class="row">
                      <div class="card-container pt-3 col-lg-7">
                          <div>
                              <div class="img"><img src="/static/assets/img/tourpackages/{{ i.tourpackage_pics }}" style="height:auto; width:100%;" class="img-fluid" alt="Tour Package Flyer"/></div>
                              <div style="background-color: #eee;">
                                  <div class="row">
                                      <div class="col-lg-6 mt-lg-2">
                                          <span><strong>{{ i.tourpackage_name }}</strong></span>
                                      </div>
                                      <div class="col-lg-6 mt-lg-2">
                                        {% if i.tourpackage_slot == None: %}
                                          <span><strong>Packages Available:</strong></span>
                                          <strong>{{ i.tourpackage_available }}</strong><span><strong> Slots</strong></span>
                                          {% else %}
                                          <span><strong>Packages Available:</strong></span>
                                          <strong>{{ i.tourpackage_slot }}</strong><span><strong> Slots</strong></span>
                                          {% endif %} 
                                      </div>
                                      <div class="col-lg-6">
                                          <span><strong>Per Sharing: </strong></span>
                                          <strong>{{"₦{:,.2f}".format(i.tourpackage_price_sharing) }}</strong>
                                      </div>
                                      <div class="col-lg-6">
                                          <span><strong>Single Stay: </strong></span>
                                          <strong>{{"₦{:,.2f}".format(i.tourpackage_price_single) }}</strong>
                                      </div>
                                      <div class="col-12 pt-3">
                                       
                                      </div>
                                  </div>
                              </div>
                          </div>    
                      </div>
                      <div class="col-lg-5 pt-3">
                          <div class="row">
                              <div class="col-12 pb-2">
                                  <h6><strong>Tour Description</strong></h6>
                                  {{ i.tourpackage_desc }}
                              </div>
                              <div class="col-lg-12">
                                <h6><strong>Tourpackage Inclusions</strong></h6>
                                <div class="row">
                                 
                                  {% for j in i.tourpackage_inclusives %}
                                  <div class="col-lg-6">
                                    <ul class="list-group">
                                      <li class="list-group-item">{{ j.inclusive_name }}</li>
                                    </ul>
                                  </div>
                                  {% endfor %}
        
                                </div>
                            </div>

                              <div class="d-grid col-12 mx-auto py-2">
                                  <a href="/booktour/{{i.tourpackage_id}}" Class="btn btn-success mb-2">Book Tour</a>
                              </div> 
                          </div>
                      </div>
                  </div>
              </div> 

            {% endfor %}

            <div class="row justify-content-end mx-auto">
                <div class="col-lg-9 col-md-6 buttonbox">
                    <a class="link" href="/tourpackage" target="_blank" class="" style="color:red; text-decoration:none;">View All Destinations</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                </div>
            </div>


            {% else %}

            <div class="col-lg-6 mt-lg-2">
                <span><strong>No Tour Package Available for this destination</strong></span>
            </div>
            <div class="col-lg-6 col-md-6 buttonbox">
                <a class="link" href="/tourpackage" target="_target" class="" style="color:red; text-decoration:none;">View All Destinations</a>
            </div>

            {% endif %}


            </div>

        
    </div>
    </div>
        </section>   
        
    {% endblock pagecontent %}